html {
  font-family: 'Montserrat', sans-serif;
}

body {
  color: #333;
  font-weight: 100;
  max-width: 50em;
  margin: 0 auto;
}

div:focus {
  outline: none;
}

.joke {
  font-size: 48px;
  padding-top: 0px;
  background: #333;
  color: white;
  margin-top: 30px;
}

.item-list {
  padding-top: 10px;
  font-size: 24px;
  list-style: georgian;
}
