.joke {
  display: flex;
  justify-content: center;
}
.joke .item-list {
  padding-top: 20px;
  list-style: none;
}

.joke .item-list li {
  margin-bottom: 17px;
}

body {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
}
.joke {
  border: 3px solid red;
}
